/*---------------
    RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    font-weight: bold;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    padding-top: 70px;
}